
// @import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

// VARIABLES
// $font-base: 'Maven Pro', sans-serif;
$body-font-size: 1.6rem;
$h1-font-size: 4rem;
$h2-font-size: 2.4rem;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 300;
$change-color: #ff006c;
$h1-font-color: #212121;
$h2-font-color: #353535;
$h3-font-color: #484848;
$h4-font-color: #212529;
$h1-6-font-color: rgba(0,0,0,.5);
$body-font-color: #5b5b5b;

$text-white: #ffffff;
$dark-mode-color: #0c0c0d;
$main-color: #ffc200;
$border-color: #f2f2f1;
$border-colorTwo: #b8b4b4e3;

$button-color: #474559;

$small-font-size: 14px;
$link-font-size: 16px;

@mixin transition-effect {
	transition: all 0.4s ease;
}

// body {
// 	// font-family: $font-base;
// 	padding-top: 70px;
// }

@mixin Display_Flex{
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 2rem;
}