@import "../../../app/styles/globalVariable.module.scss";

// =============================================
// ============== Mixin Scss ===========
// =============================================
@mixin Display_Flex($display, $alignItems, $justifyContent) {
  display: $display;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

// =============================================
// ============== About Section Scss ===========
// =============================================

#about {
  height: 85vh;
  // background-color: red;
  @include Display_Flex(flex, center, center);
}

// =============================================
// ============= Main Container Scss ===========
// =============================================

.mainContainer {
  @include Display_Flex(flex, center, center);
  margin: 0 10rem;
}

// =============================================
// =========== About Text Block 1 ==============
// =============================================

.aboutText {
  padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

  .smallText {
    // font-weight: bold;
    // padding-left: .5rem;
    font-size: 14px;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: 5rem;
    letter-spacing: 0.2px;
  }
  .headingOne{   /// This is the main Heading with animation...
    display: flex;
    gap: 1.5rem;
    font-size: $h1-font-size;
    margin: 24px 0;
    // .mr2{

    // }
    .animatedInfo{
        .headingItems{
          color: $change-color;
          font-size: 3.5rem;
        }
    }

  }
//   .paragraph{

//   }

    .customButton{
        margin-top: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // flex-direction: column;
        gap: 1rem;
    }
}
.aboutImage{
  .img{
    height: 32rem;
    width: 47.5rem
  }
}





// // ============================
// // ====== Responsive Webpage ==
// // ============================

@media screen and (max-width: 1024px) {
  // =======================================
  // ===== Responsive 1024 Pixel About Section ======
  // =========================================
  #about{
    height: auto;
    padding: 15rem 0 10rem 0;
  }
  .mainContainer {
    flex-wrap: wrap;
    gap: 6rem;
    margin: 0 2rem;
  }
  .aboutImage{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .img{
      height: 40rem;
      width: 55rem
    }
  }
  
}

@media screen and (max-width: 430px) {
  // =================================================
  // ===== Responsive 430 Pixel About Container ======
  // ===================================================
  #about{
    padding: 10rem 0;
  }
  .mainContainer {
    margin: 0 1rem;
  }
  .aboutText{
    .headingOne{
      flex-wrap: wrap;

      .animatedInfo{
        .headingItems{
          font-size: 4rem;
        }
    }
    }

  }
  .aboutImage{
    display: flex;
    justify-content: center;
    width: 100%;
    .img{
      height: 30rem;
      width: 40rem
    }
  }
}

@media screen and (max-width: 820px) {
  // =================================================
  // ===== Responsive 850 Pixel 2nd Box Container ======
  // ===================================================
  
}