@import "../../../app/styles/globalVariable.module.scss";

.formContainer{
    .headingContainer{
        margin: 1rem 0 4.5rem 0;
        h1{
            font-size: $h1-font-size;
            margin: 0 0 1rem 0;
        }
    }
}

// // ============================
// // ====== Responsive Webpage ==
// // ============================

@media screen and (max-width: 1024px) {
    // =======================================
    // ===== Responsive 1024 Pixel Resume Section ======
    // =========================================
    .formContainer{
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }
   
  }
  @media screen and (max-width: 820px) {
    // =================================================
    // ===== Responsive 850 Pixel 2nd Box Container ======
    // ===================================================
    
  }
  
  
  @media screen and (max-width: 430px) {
    // =================================================
    // ===== Responsive 430 Pixel About Container ======
    // ==================================================
    
  }
