.Container{
    // width: 100%;
   .img{
    height:66.5rem;
    width:98rem;
   }
    .mySwiper2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// .swiper-slide{

// }


// // ============================
// // ====== Responsive Webpage ==
// // ============================

@media screen and (max-width: 1024px) {
    // =======================================
    // ===== Responsive 1024 Pixel About Section ======
    // =========================================
    .Container{
        .img{
            height:63rem;
            width:88rem;
           }
    }
  }
  @media screen and (max-width: 820px) {
    // =================================================
    // ===== Responsive 850 Pixel 2nd Box Container ======
    // ===================================================
    .Container{
        .img{
            height:55rem;
            width:78rem;
           }
    }
  }
  @media screen and (max-width: 768px) {
    // =================================================
    // ===== Responsive 850 Pixel 2nd Box Container ======
    // ===================================================
    .Container{
        .img{
            height:50rem;
            width:73rem;
           }
    }
  }


  @media screen and (max-width: 430px) {
    // =================================================
    // ===== Responsive 430 Pixel About Container ======
    // ==================================================
    .Container{
        .img{
            height:38rem;
            width:50rem;
           }
    }
  }