// // ================================
// // ====== Importing Files ===
// // ================================
@import "../../../app/styles/globalVariable.module.scss";

// // ================================
// // ====== Main Info Contianer ===
// // ================================

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // // ================================
  // // ======    Info Contianer ===
  // // ================================
  .InfoContainer {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    background: #474559;
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 15px;
    padding: 3rem;
    width: 100%;
    height: 17rem;
    p {
      color: white;
      margin-bottom: 0.3rem;
    }
    .h3Heading {
      color: white;
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }

    // // ================================
    // // ====== Social Contianer     ===
    // // ================================

    .socialContainer {
      @include Display_Flex();
      gap: 2rem;
      flex-direction: column;
      .items {
        color: white;
        font-size: 2rem;
        transition: all 0.5s ease-in-out;
        &:hover {
          color: $change-color;
          cursor: pointer;
        }
      }
    }
  }
}

// // ============================
// // ====== Responsive Webpage ==
// // ============================

@media screen and (max-width: 1024px) {
  // =======================================
  // ===== Responsive 1024 Pixel Resume Section ======
  // =========================================
  .Container {
    width: 80%;
    .maps {
      iframe {
        width: 64.5rem;
        height: 35rem;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  // =================================================
  // ===== Responsive 850 Pixel 2nd Box Container ======
  // ===================================================
}

@media screen and (max-width: 430px) {
  // =================================================
  // ===== Responsive 430 Pixel About Container ======
  // ==================================================
}
