// =============================================
// ============== Button Scss ==================
// =============================================

.Container {
  padding: 1.3rem 2.9rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
